@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Slab", serif;
  background: #22babb;
  background: url(img/wallpaper-1300px.jpg) no-repeat center center;
  background-size: cover;
}

header {
  height: 170px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.486);
  background: #f24405 url(img/fox.png) no-repeat center center;
  background-size: cover;
}

img {
  height: 150px;
  margin: 15px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.281);
}

main h1 {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f24405;
  height: 50px;
}

.main-text {
  padding: 30px;
}

p {
  text-align: center;
  color: #ffff;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background: #f24405;
  height: 50px;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #ffff;
}

a:hover {
  color: #fae208;
}

@media (max-width: 412px) {
}
